{{#d-button action="submitStripeCheckout"
            class=classes
            icon="credit-card"
            disabled=disabledPayButton}}
    <span class="d-button-label">
        {{i18n "discourse_paid_pinning.button_pay"}} {{currency-amount amount=settings.paid_pinning_plugin_fee}}
    </span>
{{/d-button}}

{{#if transactionInProgress}}
    <span class="payment-message">
        {{loading-spinner size="small"}}
        Processing Payment
    </span>
{{/if}}
{{#each result as |message|}}
    <span class="payment-message">
        {{d-icon 'check'}}
        {{{message}}}
    </span>
{{/each}}

{{#if failure}}
    <span class="warning">
        {{d-icon 'warning'}}
        {{{failure}}}
    </span>
{{/if}}

{{#unless settings.paid_pinning_plugin_fee}}
    <span class="warning">
        {{d-icon 'warning'}}
        {{i18n "discourse_paid_pinning.missing_setting"}}: paid_pinning_plugin_fee
    </span>
{{/unless}}
{{#unless settings.paid_pinning_plugin_public_key}}
    <span class="warning">
        {{d-icon 'warning'}}
        {{i18n "discourse_paid_pinning.missing_setting"}}: paid_pinning_plugin_public_key
    </span>
{{/unless}}

