<a {{action "show"}} href class="btn">
    {{d-icon "money"}}
    {{#if someTxns}}
        {{i18n 'discourse_paid_pinning.txns.count' count=count}},
        {{currency-amount amount=balance}}
    {{else}}
        {{i18n 'discourse_paid_pinning.txns.none'}}
    {{/if}}
</a>
