{{#if model.stripe_customer_id}}

    <section class='details'>
        <h1>{{d-icon 'cc-stripe'}} {{i18n 'discourse_paid_pinning.payment'}}</h1>
        <div class='display-row'>
            <div class='field'>{{i18n 'discourse_paid_pinning.customer'}}</div>
            <div class='value'>
                <a href="https://dashboard.stripe.com/customers/{{unbound model.stripe_customer_id}}">
                    {{model.stripe_customer_id}}
                </a>
            </div>
        </div>
    </section>

{{/if}}